:root {
    --text-color: #333;
    --primary-color: #EA8025;
    --header-height: 100px;
}

* {
    color: var(--text-color);
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

.text-bold {
    font-weight: 600;
}

.btn {
    display: block;
    max-width: 282px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes runUp {
    from {
        opacity: 0;
        top: calc(var(--header-height) + 90px);
    }
    to {
        opacity: 1;
        top: calc(var(--header-height));
    }
}