.header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header__topbar-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #fff;
}

.topbar-item {
    padding: 10px 50px;
    font-size: 1.4rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
}

.topbar-item__icon {
    color: var(--primary-color);
}

.header__navbar {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 66px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #D9D8D5;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 200px;
}

.logo-main {
    width: 100%;
}

.navbar-list {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-item {
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar-item--has-child {
    position: relative;
}

.navbar-item--has-child:hover .sub-nav {
    display: flex;
}

.navbar-item--has-child .sub-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px 195px;
    animation: runUp 0.45s ease-in;
    display: none;
}

@keyframes runUp {
    from {
        opacity: 0;
        top: calc(var(--header-height) + 90px);
    }
    to {
        opacity: 1;
        top: calc(var(--header-height));
    }
}

.sub-nav__item {
    flex: 1;
    padding: 12px 20px;
}

.sub-nav__item-title {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid #000;
    display: block;
}

.sub-nav__item-title:hover {
    color: var(--primary-color);
}

.sub-nav-content {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 16px;
}

.sub-nav-content__item {
}

.sub-nav-content-link {
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    color: #777;
    padding: 5px 0;
}

.sub-nav-content-link:hover {
    color: var(--primary-color);
}

.navbar-link {
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    height: 100%;
    align-items: center;
    gap: 5px;
    padding: 0 16px;
}

.navbar-link:hover,
.navbar-link:hover .navbar-link__icon {
    color: var(--primary-color);
}

.navbar-link__icon {
    font-size: 1.2rem;
}

.owl-carousel {
    margin-top: var(--header-height);
    position: relative;
}

.owl-nav {
    margin: 0 !important;
    font-size: 5rem;
    width: 0;
    height: 0;
}

.owl-nav button span {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    position: absolute;
}

.owl-prev span,
.owl-next span {
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev span {
    left: 40px;
}

.owl-next span {
    right: 40px;
}

.owl-dots {
    position: absolute;
    top: calc(100% - 19px);
    left: 0;
    right: 0;
}

.owl-dot span {
    box-shadow: rgb(6 24 44 / 18%) 0px 0px 0px 2px, rgb(6 24 44 / 0%) 0px 4px 6px -1px, rgb(255 255 255 / 0%) 0px 1px 0px inset !important;
}